/* °´Å¥Í¼±ê */
.exit {
	background-image: url(/images/exit.png) !important;
}

.help {
	background-image: url(/images/help.png) !important;
}

.key {
	background-image: url(/images/key.png) !important;
}